In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('scd1').getOrCreate()

In [7]:
df = spark.read.csv('v_demo1.csv',header = True,inferSchema =True)

In [90]:
df1=spark.read.csv('v-demo2.csv',header =True,inferSchema =True)

In [91]:
df.show()

+---------+---------+----------+-------+--------+
|EMPNO_SRC|ENAME_SRC|DEPTNO_SRC|SAL_SRC|COMM_SRC|
+---------+---------+----------+-------+--------+
|     7369|    SMITH|        20|    800|    null|
|     7499|    ALLEN|        30|   1600|     300|
|     7521|     WARD|        30|   1250|     500|
|     7566|    JONES|        20|   2975|    null|
|     7654|   MARTIN|        30|   1250|    1400|
|     7698|    BLAKE|        30|   2850|    null|
|     7782|    CLARK|        10|   2450|    null|
|     7788|    SCOTT|        20|   3000|    null|
|     7839|     KING|        10|   5000|    null|
|     7844|   TURNER|        30|   1500|       0|
|     7876|    ADAMS|        20|   1100|    null|
|     7900|    JAMES|        30|    950|    null|
|     7902|     FORD|        20|   3000|    null|
|     7934|   MILLER|        10|   1300|    null|
+---------+---------+----------+-------+--------+

In [92]:
df1.show()

+-----+------+------+----+----+
|EMPNO| ENAME|DEPTNO| SAL|COMM|
+-----+------+------+----+----+
| 7369|vineet|    20| 800|null|
| 7521|  WARD|    30|1250| 500|
| 7566| JONES|    20|2975|null|
| 7654|MARTIN|    30|1250|1400|
| 7698| BLAKE|    30|2850|null|
| 7782| CLARK|    10|2450|null|
| 7788| SCOTT|    20|3000|null|
| 7839|  KING|    10|5000|null|
| 7844|TURNER|    30|1500|   0|
| 7876| ADAMS|    20|1100|null|
| 7900| JAMES|    30| 950|null|
| 7902|  FORD|    20|3000|null|
| 7934|MILLER|    10|1300|null|
| 2654|   Ram|    10|1387|null|
| 2435|  Sita|    20|1097|   0|
+-----+------+------+----+----+

In [20]:
df=df.withColumnRenamed('EMPNO','EMPNO_SRC') \
 .withColumnRenamed('SAL','SAL_SRC') \
 .withColumnRenamed('ENAME','ENAME_SRC') \
 .withColumnRenamed('DEPTNO','DEPTNO_SRC') \
 .withColumnRenamed('COMM','COMM_SRC')
df1=df1.withColumnRenamed('EMPNO','EMPNO_TGT') \

 .withColumnRenamed('SAL','SAL_TGT')

# INSERTED ROW

In [89]:
df_join_right=df.join(df1,df.EMPNO_SRC==df1.EMPNO_TGT,how="right")

In [51]:
from pyspark.sql.functions import lit
from pyspark.sql import functions as f
df_scd_insert=df_join_right.withColumn("INSERT_FLAG",
 f.when( df_join.EMPNO_SRC.isNull(),1).\
 otherwise(0))
df_scd_insert.show()

+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+
|EMPNO_SRC|ENAME_SRC|DEPTNO_SRC|SAL_SRC|COMM_SRC|EMPNO_TGT| ENAME|DEPTNO|SAL_TGT|COMM|INSERT_FLAG|
+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+
|     7369|    SMITH|        20|    800|    null|     7369|vineet|    20|    800|null|          0|
|     7521|     WARD|        30|   1250|     500|     7521|  WARD|    30|   1250| 500|          0|
|     7566|    JONES|        20|   2975|    null|     7566| JONES|    20|   2975|null|          0|
|     7654|   MARTIN|        30|   1250|    1400|     7654|MARTIN|    30|   1250|1400|          0|
|     7698|    BLAKE|        30|   2850|    null|     7698| BLAKE|    30|   2850|null|          0|
|     7782|    CLARK|        10|   2450|    null|     7782| CLARK|    10|   2450|null|          0|
|     7788|    SCOTT|        20|   3000|    null|     7788| SCOTT|    20|   3000|null|          0|
|     7839|     KING|        10|   5000|    null|     7839|  KING|    10|   5000|null|          0|
|     7844|   TURNER|        30|   1500|       0|     7844|TURNER|    30|   1500|   0|          0|
|     7876|    ADAMS|        20|   1100|    null|     7876| ADAMS|    20|   1100|null|          0|
|     7900|    JAMES|        30|    950|    null|     7900| JAMES|    30|    950|null|          0|
|     7902|     FORD|        20|   3000|    null|     7902|  FORD|    20|   3000|null|          0|
|     7934|   MILLER|        10|   1300|    null|     7934|MILLER|    10|   1300|null|          0|
|     null|     null|      null|   null|    null|     2654|   Ram|    10|   1387|null|          1|
|     null|     null|      null|   null|    null|     2435|  Sita|    20|   1097|   0|          1|
+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+

In [99]:
df_scd_insert.select('EMPNO_TGT','ENAME','DEPTNO','SAL_TGT','COMM').filter("INSERT_FLAG ==1").show()

+---------+-----+------+-------+----+
|EMPNO_TGT|ENAME|DEPTNO|SAL_TGT|COMM|
+---------+-----+------+-------+----+
|     2654|  Ram|    10|   1387|null|
|     2435| Sita|    20|   1097|   0|
+---------+-----+------+-------+----+

In [97]:
df_scd_insert.filter("INSERT_FLAG ==1").count()

2

# UPDATED RECORDS

In [85]:
df_join_inner=df.join(df1,df.EMPNO_SRC==df1.EMPNO_TGT,how="inner")

In [86]:
df_scd_update=df_join_inner.withColumn("UPDATE_FLAG",
 f.when((df_join_inner.ENAME_SRC!=df_join_inner.ENAME) | (df_join_inner.DEPTNO_SRC!=df_join_inner.DEPTNO)|(df_join_inner.SAL_SRC!=df_join_inner.SAL_TGT)|(df_join_inner.COMM_SRC!=df_join_inner.COMM),1).\
otherwise(0))
df_scd_update.show()

+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+
|EMPNO_SRC|ENAME_SRC|DEPTNO_SRC|SAL_SRC|COMM_SRC|EMPNO_TGT| ENAME|DEPTNO|SAL_TGT|COMM|UPDATE_FLAG|
+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+
|     7369|    SMITH|        20|    800|    null|     7369|vineet|    20|    800|null|          1|
|     7521|     WARD|        30|   1250|     500|     7521|  WARD|    30|   1250| 500|          0|
|     7566|    JONES|        20|   2975|    null|     7566| JONES|    20|   2975|null|          0|
|     7654|   MARTIN|        30|   1250|    1400|     7654|MARTIN|    30|   1250|1400|          0|
|     7698|    BLAKE|        30|   2850|    null|     7698| BLAKE|    30|   2850|null|          0|
|     7782|    CLARK|        10|   2450|    null|     7782| CLARK|    10|   2450|null|          0|
|     7788|    SCOTT|        20|   3000|    null|     7788| SCOTT|    20|   3000|null|          0|
|     7839|     KING|        10|   5000|    null|     7839|  KING|    10|   5000|null|          0|
|     7844|   TURNER|        30|   1500|       0|     7844|TURNER|    30|   1500|   0|          0|
|     7876|    ADAMS|        20|   1100|    null|     7876| ADAMS|    20|   1100|null|          0|
|     7900|    JAMES|        30|    950|    null|     7900| JAMES|    30|    950|null|          0|
|     7902|     FORD|        20|   3000|    null|     7902|  FORD|    20|   3000|null|          0|
|     7934|   MILLER|        10|   1300|    null|     7934|MILLER|    10|   1300|null|          0|
+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+

In [95]:
df_scd_update.select('EMPNO_SRC','ENAME_SRC','ENAME').filter("UPDATE_FLAG ==1").show()

+---------+---------+------+
|EMPNO_SRC|ENAME_SRC| ENAME|
+---------+---------+------+
|     7369|    SMITH|vineet|
+---------+---------+------+

In [88]:
df_scd_update.filter("UPDATE_FLAG ==1").count()

1

# DELETED RECORDS

In [84]:
df_join_left=df.join(df1,df.EMPNO_SRC==df1.EMPNO_TGT,how="left")

In [81]:
df_scd_delete=df_join_left.withColumn("DELETE_FLAG",
 f.when( df_join.EMPNO_TGT.isNull(),1).\
 otherwise(0))
df_scd_delete.show()

+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+
|EMPNO_SRC|ENAME_SRC|DEPTNO_SRC|SAL_SRC|COMM_SRC|EMPNO_TGT| ENAME|DEPTNO|SAL_TGT|COMM|DELETE_FLAG|
+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+
|     7369|    SMITH|        20|    800|    null|     7369|vineet|    20|    800|null|          0|
|     7499|    ALLEN|        30|   1600|     300|     null|  null|  null|   null|null|          1|
|     7521|     WARD|        30|   1250|     500|     7521|  WARD|    30|   1250| 500|          0|
|     7566|    JONES|        20|   2975|    null|     7566| JONES|    20|   2975|null|          0|
|     7654|   MARTIN|        30|   1250|    1400|     7654|MARTIN|    30|   1250|1400|          0|
|     7698|    BLAKE|        30|   2850|    null|     7698| BLAKE|    30|   2850|null|          0|
|     7782|    CLARK|        10|   2450|    null|     7782| CLARK|    10|   2450|null|          0|
|     7788|    SCOTT|        20|   3000|    null|     7788| SCOTT|    20|   3000|null|          0|
|     7839|     KING|        10|   5000|    null|     7839|  KING|    10|   5000|null|          0|
|     7844|   TURNER|        30|   1500|       0|     7844|TURNER|    30|   1500|   0|          0|
|     7876|    ADAMS|        20|   1100|    null|     7876| ADAMS|    20|   1100|null|          0|
|     7900|    JAMES|        30|    950|    null|     7900| JAMES|    30|    950|null|          0|
|     7902|     FORD|        20|   3000|    null|     7902|  FORD|    20|   3000|null|          0|
|     7934|   MILLER|        10|   1300|    null|     7934|MILLER|    10|   1300|null|          0|
+---------+---------+----------+-------+--------+---------+------+------+-------+----+-----------+

In [93]:
df_scd_delete.select('EMPNO_SRC','ENAME_SRC').filter("DELETE_FLAG ==1").show()

+---------+---------+
|EMPNO_SRC|ENAME_SRC|
+---------+---------+
|     7499|    ALLEN|
+---------+---------+

In [94]:
df_scd_delete.filter("DELETE_FLAG ==1").count()

1